.container {
  height: 100%;
  background-color: #ffffba;
  margin-top: 15px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 60vh;
}

body {
  background-color: #ffffba;
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body > footer {
  margin-top: auto;
}

.footer {
  background-color: #bae1ff;
  margin-bottom: 0 !important;
}

.table {
  margin-top: 15px;
  margin-bottom: 15px;
}

td {
  font-size: 25px;
  vertical-align: baseline;
  background-color: #ffdfba;
}

.card {
  width: 20rem;
  height: 15rem;
  background-color: #ffdfba;
  font-size: 2rem;
  margin-left: 4rem;
}
