.container {
  height: 100%;
  background-color: #ffffba;
  margin-top: 15px;
}

body {
  background-color: #ffffba;
}

.table {
  margin-top: 15px;
  margin-bottom: 15px;
}

td {
  font-size: 25px;
  vertical-align: baseline;
  background-color: #ffdfba;
}

.card {
  width: 15rem;
  height: 10rem;
  background-color: #ffdfba;
  font-size: 2rem;
}
